<div class="card bg-light mb-3 card-body-box perf-container">
  <div class="card-header bg-white"><span class="text-center">Suivi des indicateurs de performance</span></div>
  <div class="card-body bg-white p-0">
      <div class="row ml-0">
          <div class="col-3 p-0">
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Opérations</button><br>
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouveaux contacts</button><br>
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Contacts mis à jour</button><br>
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Contacts perdus</button><br>
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouvelles entreprises</button><br>
              <button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouveaux mails</button>
          </div>
          <div class="col-9 p-0">
              <div id="line-operation-chart"></div>
          </div>
      </div>
  </div>
</div>
