<div class="card bg-light mb-3 card-body-box">
  <div class="card-body bg-white p-0">
      <table class="table mb-0">
          <thead>
          <tr>
              <th scope="col" class="h6 dashboard-stats-text">Commercial du mois</th>
              <th scope="col" class="h6 dashboard-stats-text"></th>
              <th scope="col" class="h6 dashboard-stats-text"></th>
              <th scope="col" class="h6 dashboard-stats-text">Score</th>
              <th scope="col" class="h6 dashboard-stats-text">Gagnés</th>
              <th scope="col" class="h6 dashboard-stats-text">Mis à jour</th>
              <th scope="col" class="h6 dashboard-stats-text">Perdus</th>
          </tr>
          </thead>
          <tbody class="mb-0 ">
          <tr>
              <th scope="row" class="h6">image</th>
              <td><i class="fas fa-arrow-up stats-vert"></i></td>
              <td>Vincent DUMONT</td>
              <td><span class="dashboard-score-commerciaux">26</span></td>
              <td>5</td>
              <td>24</td>
              <td>3</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>