<div class="card mb-3 card-body-box">
  <div class="card-body">
      <div class="row ml-0">
          <div class="col-2 p-0">
              <div id="chart-circle"></div>
          </div>
          <div class="col-2 p-0 text-center">
              <span class="small-text">< 3 ans et +</span>
              <hr class="hr-red w-75">
              <span class="small-text">1687 contacts</span>
              <br>
              <span class="small-text">47%</span>
          </div>
          <div class="col-2 p-0 text-center">
              <span class="small-text">< 2 ans</span>
              <hr class="hr-orange w-75">
              <span class="small-text">968 contacts</span>
              <br>
              <span class="small-text">29%</span>
          </div>
          <div class="col-2 p-0 text-center">
              <span class="small-text">< 1 an</span>
              <hr class="hr-yellow w-75">
              <span class="small-text">368 contacts</span>
              <br>
              <span class="small-text">15%</span>
          </div>
          <div class="col-2 p-0 text-center">
              <span class="small-text">< 6 mois</span>
              <hr class="hr-lightgreen w-75">
              <span class="small-text">168 contacts</span>
              <br>
              <span class="small-text">7%</span>
          </div>
          <div class="col-2 p-0 text-center">
              <span class="small-text">< 3 mois</span>
              <hr class="hr-green w-75">
              <span class="small-text">64 contacts</span>
              <br>
              <span class="small-text">3%</span>
          </div>
      </div>
  </div>
</div>
