<div class="card bg-light mb-3 card-body-box">
  <div class="card-header bg-white">
  	<span class="text-center">Performance par départements</span>
  </div>
  <div class="card-body bg-white p-5">
  	<app-francemap></app-francemap>
      <div class="dashboard-stats-text" style="position: absolute;margin-left: 420px;">Score</div>
      <br>
      <ul style="position: absolute;margin-left: 380px;">
          <li class="float-right"><div class="superieur100 float-left"></div><span class="dashboard-stats-text">Supérieur à 100</span></li>
          <li><div class="compris50-100 float-left"></div><span class="dashboard-stats-text">Entre 50 et 100</span></li>
          <li><div class="compris25-50 float-left"></div><span class="dashboard-stats-text">Entre 25 et 50</span></li>
          <li><div class="compris15-25 float-left"></div><span class="dashboard-stats-text">Entre 15 et 25</span></li>
          <li><div class="compris10-15 float-left"></div><span class="dashboard-stats-text">Entre 10 et 15</span></li>
          <li><div class="compris5-10 float-left"></div><span class="dashboard-stats-text">Entre 5 et 10</span></li>
          <li><div class="inferieur5 float-left"></div><span class="dashboard-stats-text">Moins de 5</span></li>
      </ul>
  </div>
</div>
